body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 500px;
    width: 100%;
    padding-bottom: 100px;
   
}
h1{
    font-size:60px;
    text-shadow: 2px 2px 3px gray;
    
}
.text-highlight{
    color: tomato;
}
p{
    color: gray;
}
h2{
    font-size: 40px;
    text-shadow: 2px 2px 3px gray;
}
/* navbar section */
.navbar{
    height: 80px;
}
.navbar ul{
    list-style-type: none;
    text-align: right;
    margin-right: 5%;
}
.navbar ul li{
    display: inline-block;
    padding: 10px 20px;
    
    
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}
.navbar ul li a:hover{
    border-bottom: 1px solid teal;
}
/* Top name section */


.button{
    margin-top: 50px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
}

.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
    
}
/* about section */
.about{
    
}
.about-text{
    margin-top: 150px;
   
}
/* project section */
.project{
   background-color: rgba(0, 0, 0,.1);
padding:100px 10px;
    float: left;
    position: relative;
    
   
}
.project h2{
    text-align: center;
}
.one-third-width{
    float: left;
    width: 25%;
   padding:15px;
    position: relative;
    left: 5%;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    text-align: center;
    height: 350PX;
    
    
}

.project img{
    width: 100%;
}
/* service section */
.service{
    text-align: center;
    padding: 10px;
        float: left;
        position: relative;
        
}
.service-img{
    border-top: 5px solid teal;
}
.service-img img{
    width: 30%;
    margin-top: 15PX;
}
/* bottom section section */
.contact{
    clear: left;
    margin:20%;
    position: relative;
    padding-top: 150px;
}
.half{
    display: inline-block;
    
}
.work-txt{
    position: absolute;
    left: 30px;
    top:30px;
    padding-top: 150px;
    color: white;
}
.work-chat{
    position: absolute;
    left: 650px;
    top: 100px;
    padding-top: 150px;
}

.footer{
    margin-bottom: 100px;
    text-align: center;
    
}
.logo1{
    float: left;
    width: 90px;
    
    
}

.logo img{
    width: 50px;
    display: block;
    margin-left: 550px;
    
 
}



